.main-footer {
  position: relative;
  padding: 0 0 110px 0;
  background: url('../images/dest/img/footer-bg.png') center bottom -60px no-repeat;
  background-size: cover;
  @media screen and (min-width: $tablet-bp) {
    background: url('../images/dest/img/footer-img.png') center bottom repeat-x;
  }
}
// .main-footer-bg-img {
//   display: none;
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   pointer-events: none;
//   @media screen and (min-width: $tablet-bp) {
//     display: block;
//   }
// }
.main-footer-subscribe {
  margin-bottom: 48px;
  @media screen and (min-width: $tablet-bp) {
    margin-bottom: 0;
  }
}
.subscribe-block-title {
  margin-bottom: 16px;
  color: $black;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}
.subscribe-block-text {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.subscribe-block-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-block-input {
  display: block;
  width: 100%;
  max-width: 282px;
  margin-bottom: 24px;
}
.subscribe-block-btn {
  width: 100%;
  max-width: 282px;
  padding: 5px 20px;
}
.contacts-block-title {
  margin-bottom: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: $black;
  @media screen and (min-width: $tablet-bp) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.contacts-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $tablet-bp) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    max-width: 100%;
    margin-top: 100px;
  }
}
.contacts-block-item {
  display: block;
}
.contacts-block-phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: $black;
  margin-bottom: 12px;
  @media screen and (min-width: $tablet-bp) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.contacts-block-mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: $black;
  margin-bottom: 38px;
  @media screen and (min-width: $tablet-bp) {
    margin-bottom: 0;
  }
}
.contacts-block-social {
  display: flex;
  @media screen and (min-width: $tablet-bp) {
    display: none;
  }
}
.contacts-block-social-item {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  &:first-child {
    margin-right: 20px;
  }
}
.contacts-block-social-item-wp {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='26' viewBox='0 0 26 26' width='26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m13.0001 8.83447c-2.2938 0-4.16564 1.87183-4.16564 4.16563 0 2.2937 1.87184 4.1656 4.16564 4.1656 2.2937 0 4.1656-1.8719 4.1656-4.1656 0-2.2938-1.8719-4.16563-4.1656-4.16563zm12.4937 4.16563c0-1.725.0157-3.43438-.0812-5.15625-.0969-2-.5531-3.775-2.0156-5.2375-1.4657-1.46563-3.2375-1.918751-5.2375-2.015626-1.725-.096875-3.4344-.08125-5.1563-.08125-1.725 0-3.43436-.015625-5.15624.08125-2 .096875-3.775.553126-5.2375 2.015626-1.46562 1.46562-1.918748 3.2375-2.015623 5.2375-.096875 1.725-.08125 3.43435-.08125 5.15625s-.015625 3.4344.08125 5.1562c.096875 2 .553123 3.775 2.015623 5.2375 1.46563 1.4657 3.2375 1.9188 5.2375 2.0157 1.725.0968 3.43434.0812 5.15624.0812 1.725 0 3.4344.0156 5.1563-.0812 2-.0969 3.775-.5532 5.2375-2.0157 1.4656-1.4656 1.9187-3.2375 2.0156-5.2375.1-1.7218.0812-3.4312.0812-5.1562zm-12.4937 6.4094c-3.54689 0-6.40939-2.8625-6.40939-6.4094 0-3.54688 2.8625-6.40938 6.40939-6.40938 3.5469 0 6.4094 2.8625 6.4094 6.40938 0 3.5469-2.8625 6.4094-6.4094 6.4094zm6.6719-11.5844c-.8282 0-1.4969-.66875-1.4969-1.49688 0-.82812.6687-1.49687 1.4969-1.49687.8281 0 1.4968.66875 1.4968 1.49687.0003.19665-.0383.3914-.1134.57313-.0751.18172-.1854.34683-.3244.48588-.1391.13904-.3042.24929-.4859.32443s-.3765.11369-.5731.11344z' fill='%23000'/%3E%3C/svg%3E");
}
.contacts-block-social-item-inst {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='28' viewBox='0 0 28 28' width='28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.671977 27.3334 1.802663-6.624c-1.18781-2.0362-1.811868-4.352-1.807996-6.7093 0-7.36402 5.969336-13.333352 13.333356-13.333352 7.364 0 13.3333 5.969332 13.3333 13.333352 0 7.364-5.9693 13.3333-13.3333 13.3333-2.3563.0038-4.67115-.6198-6.70669-1.8067zm8.516003-19.58932c-.17219.01069-.34044.05604-.49467.13333-.14464.08191-.27667.1843-.392.30401-.16.15066-.25067.28133-.348.40799-.49278.64133-.75785 1.42859-.75333 2.23729.00266.6534.17333 1.2894.44 1.884.54533 1.2027 1.44266 2.476 2.62802 3.656.2853.284.564.5694.864.8347 1.4712 1.2953 3.2243 2.2294 5.12 2.728l.7586.116c.2467.0133.4934-.0053.7414-.0173.3883-.0201.7675-.1252 1.1106-.308.1747-.09.3451-.1878.5107-.2934 0 0 .0573-.0373.1667-.12.18-.1333.2906-.228.44-.384.1106-.1146.2066-.2493.28-.4026.104-.2174.208-.632.2506-.9774.032-.264.0227-.408.0187-.4973-.0053-.1427-.124-.2907-.2533-.3533l-.776-.348s-1.16-.5054-1.868-.828c-.0747-.0326-.1547-.0511-.236-.0547-.0912-.0094-.1834.0009-.2704.0301-.0869.0292-.1666.0767-.2336.1392v-.0026c-.0067 0-.096.076-1.06 1.244-.0554.0743-.1316.1305-.219.1614-.0873.0309-.1819.035-.2717.0119-.0869-.0232-.172-.0526-.2547-.088-.1653-.0693-.2226-.096-.336-.1453l-.0066-.0027c-.7628-.333-1.4691-.7829-2.0934-1.3333-.168-.1467-.324-.3067-.484-.4614-.5245-.5023-.9817-1.0706-1.36-1.6906l-.0786-.1267c-.0565-.0851-.1022-.1769-.136-.2733-.0507-.196.0813-.3534.0813-.3534s.324-.3546.4747-.5466c.1254-.1596.2425-.3256.3506-.4974.1574-.2533.2067-.5133.124-.7146-.3733-.91202-.76-1.82002-1.1573-2.72135-.0787-.17867-.312-.30667-.52399-.332-.072-.008-.144-.016-.216-.02134-.17906-.00889-.35849-.00711-.53733.00534z' fill='%23000'/%3E%3C/svg%3E");
}
.subscribe-nda-text {
  max-width: 300px;
  margin-bottom: 24px;
}
