$accent: #592c82;
$second: #a989d2;
$pink: #f655a0;
// FONTS
$base-text: #2b2b2b;
$text-second: #111;

// BP
$mobile-bp: 1000px;
$mobile-small: 750px;

body {
  margin: 0;
}
.bonus-page {
  font-family: $mainfamily;
  color: $base-text;
  font-weight: normal;
  line-height: 1.3;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  .text-center {
    text-align: center;
  }
  * {
    margin: 0;
    box-sizing: border-box;
  }
  .rub {
    font-family: ruble;
  }
  .row--wrap {
    flex-wrap: wrap;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .container-bonus {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 60px;
    @media screen and (max-width: $mobile-bp) {
      padding: 0 30px;
    }
  }
  .h1-bonus {
    color: $text-second;
    font-size: 46px;
    text-transform: none;
    font-weight: normal;
  }
  .h2-bonus {
    text-align: center;
    color: $accent;
    font-size: 24px;
    font-weight: bold;
  }
  .h2-bonus--underline {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 128px;
      height: 2px;
      background-color: $accent;
    }
  }
  .text-purple {
    color: $second;
  }
  .text-pink {
    color: $pink;
  }
  .text-accent {
    color: $accent;
  }
  .bonus-block1 {
    background-image: url("../images/dest/bonus/bg1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .bonus-block1-inner {
    position: relative;
    height: 550px;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: $mobile-bp) {
      height: 440px;
    }
    @media screen and (max-width: $mobile-small) {
      justify-content: center;
      height: auto;
      min-height: 440px;
      padding-bottom: 20px;
    }
  }
  .bonus-block1-img {
    display: block;
    position: absolute;
    left: -244px;
    bottom: -23px;
    @media screen and (max-width: 1150px) {
      left: -184px;
    }
    @media screen and (max-width: $mobile-bp) {
      left: -104px;
      bottom: 30px;
      width: 400px;
    }
    @media screen and (max-width: $mobile-small) {
      display: none;
    }
  }
  .bonus-block1-text-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
    padding: 163px 30px 0 0;
    @media screen and (max-width: 1150px) {
      padding: 150px 0 0 0;
    }
  }
  .bonus-block1-h1 {
    margin-bottom: 20px;
    @media screen and (max-width: $mobile-bp) {
      font-size: 36px;
    }
  }
  .bonus-block1-text {
    color: $text-second;
    font-size: 24px;
    margin-bottom: 10px;
    @media screen and (max-width: $mobile-bp) {
      font-size: 20px;
    }
  }
  .bonus-block1-accent {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    background-color: $pink;
    padding: 8px 18px;
    @media screen and (max-width: $mobile-bp) {
      font-size: 22px;
    }
  }
  .bonus-block2 {
    padding: 35px 0 75px 0;
    @media screen and (max-width: $mobile-bp) {
      padding: 35px 0 0 0;
    }
  }
  .bonus-block2-h2 {
    margin-bottom: 140px;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 120px;
    }
  }
  .bonus-block2-container {
    max-width: 740px;
  }
  .bonus-block2-row {
    justify-content: space-between;
    @media screen and (max-width: $mobile-bp) {
      // flex-direction: column;
      // align-items: center;
      flex-wrap: wrap;
    }
    @media screen and (max-width: $mobile-small) {
      padding-right: 50px;
    }
  }
  .bonus-block2-item-col {
    @media screen and (max-width: $mobile-bp) {
      max-width: 50%;
      flex-basis: 50%;
      display: flex;
      justify-content: center;
    }
    @media screen and (max-width: $mobile-small) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  .bonus-block2-item {
    position: relative;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 150px;
      // &:last-child {
      //   margin-bottom: 0;
      // }
    }
  }
  .bonus-block2-item-number {
    color: $second;
    font-size: 100px;
    position: relative;
    z-index: 3;
    font-weight: bold;
    line-height: 1;
  }
  .bonus-block2-item-text {
    font-size: 16px;
    color: $text-second;
    text-align: center;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
  }
  .bonus-block2-item-icon {
    position: absolute;
    left: 20px;
    top: -35px;
    width: 94px;
    height: 94px;
    background-color: $pink;
    border-radius: 50%;
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .bonus-block2-item-icon--1 {
    &::after {
      background-image: url("../images/dest/bonus/feature1.png");
      width: 70px;
      height: 82px;
      top: -50px;
      right: -25px;
    }
  }
  .bonus-block2-item-icon--2 {
    &::after {
      background-image: url("../images/dest/bonus/feature2.png");
      width: 92px;
      height: 68px;
      top: -33px;
      right: -14px;
    }
  }
  .bonus-block2-item-icon--3 {
    &::after {
      background-image: url("../images/dest/bonus/feature3.png");
      width: 84px;
      height: 95px;
      top: -61px;
      right: -25px;
    }
  }
  .bonus-block2-item-icon--4 {
    &::after {
      background-image: url("../images/dest/bonus/feature4.png");
      width: 85px;
      height: 82px;
      top: -43px;
      right: -22px;
    }
  }
  .bonus-block2-item-separator {
    position: absolute;
    right: -100px;
    top: 45px;
    width: 8px;
    height: 8px;
    background-color: $second;
    border-radius: 50%;
    z-index: 4;
    @media screen and (max-width: $mobile-bp) {
      display: none;
    }
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &::before {
      background-color: $pink;
      left: -15px;
    }
    &::after {
      background-color: $accent;
      right: -15px;
    }
  }
  .bonus-block3 {
    background-color: #f6f6f6;
    padding: 35px 0 20px;
  }
  .bonus-block3-h2 {
    margin-bottom: 24px;
  }
  .bonus-block3-text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  .bonus-block3-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media screen and (max-width: $mobile-small) {
      align-items: center;
    }
  }
  .bonus-block3-img {
    display: block;
    position: absolute;
    right: -280px;
    bottom: -90px;
    @media screen and (max-width: $mobile-bp) {
      right: -230px;
      bottom: -60px;
    }
    @media screen and (max-width: $mobile-small) {
      display: none;
    }
  }
  .bonus-block3-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 80px;
    }
  }
  .bonus-block3-item--1 {
    margin-right: 220px;
    padding-top: 60px;
    @media screen and (max-width: $mobile-small) {
      margin-right: 0;
    }
  }
  .bonus-block3-item--2 {
    margin-right: 440px;
    @media screen and (max-width: $mobile-bp) {
      margin-right: 340px;
    }
    @media screen and (max-width: $mobile-small) {
      margin-right: 0;
    }
  }
  .bonus-block3-item--3 {
    align-self: flex-start;
    padding-top: 10px;
    @media screen and (max-width: $mobile-small) {
      align-self: auto;
    }
  }
  .bonus-block3-item-text {
    font-size: 16px;
    line-height: 24px;
  }
  .bonus-block3-circle {
    position: relative;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-image: url("../images/dest/bonus/maney.png");
    background-position: center;
    margin-right: 18px;
    @media screen and (max-width: $mobile-small) {
      flex: 0 0 auto;
    }
  }
  .bonus-block3-circle--1 {
    background-color: $pink;
    color: $pink;
    width: 150px;
    height: 150px;
    background-size: 170px;
    background-position: center left -6px;
  }
  .bonus-block3-circle--2 {
    background-color: $second;
    color: $second;
    width: 90px;
    height: 90px;
    background-size: 90px;
  }
  .bonus-block3-circle--3 {
    background-color: $accent;
    color: $accent;
    width: 50px;
    height: 50px;
    background-size: 50px;
    .bonus-block3-number {
      top: -65px;
    }
  }
  .bonus-block3-number {
    position: absolute;
    top: -50px;
    right: -64px;
    font-size: 63px;
    font-weight: bold;
    line-height: 1;
  }
  .bonus-block4 {
    padding: 80px 0 10px 0;
  }
  .bonus-block4-h2 {
    margin-bottom: 58px;
  }
  .bonus-block4-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .bonus-block4-img {
    position: absolute;
    display: block;
    left: -160px;
    bottom: -40px;
    z-index: 2;
    @media screen and (max-width: $mobile-bp) {
      display: none;
    }
  }
  .bonus-block4-img-circle {
    position: absolute;
    display: block;
    left: -218px;
    bottom: -134px;
    z-index: 1;
  }
  .bonus-block4-item {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
    @media screen and (max-width: $mobile-small) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .bonus-block4-item--1 {
    margin-left: 145px;
    @media screen and (max-width: $mobile-bp) {
      margin: 0 0 20px 0;
    }
  }
  .bonus-block4-item--2 {
    margin-left: 245px;
    @media screen and (max-width: $mobile-bp) {
      margin: 0 0 20px 0;
    }
  }
  .bonus-block4-item-img {
    display: block;
    margin-right: 22px;
    @media screen and (max-width: $mobile-small) {
      margin-bottom: 20px;
    }
  }
  .bonus-block4-item-text {
    font-size: 16px;
  }
  .bonus-block4-table {
    display: flex;
    align-self: flex-end;
    @media screen and (max-width: $mobile-bp) {
      align-self: center;
      margin: 40px 0;
    }
  }
  .bonus-block4-table-col {
    display: flex;
    flex-direction: column;
    font-size: 62px;
    font-weight: bold;
    padding: 0 5px;
    @media screen and (max-width: $mobile-bp) {
      padding: 0 20px;
    }
    @media screen and (max-width: $mobile-small) {
      font-size: 40px;
      padding: 0 10px;
    }
  }
  .bonus-block4-table-col--border {
    border-right: solid 2px $accent;
  }
  .bonus-block4-table-big {
    font-size: 100px;
    @media screen and (max-width: $mobile-small) {
      font-size: 60px;
    }
  }
  .bonus-block4-table-col--center {
    justify-content: center;
  }
  .bonus-block4-link {
    color: $accent;
  }
  .bonus-block4-item-text--bottom {
    margin-top: 20px;
    margin-left: auto;
    @media screen and (max-width: $mobile-bp) {
      margin: 20px auto;
    }
  }
  .bonus-block5 {
    background-color: #f3f3f7;
    padding: 66px 0 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/dest/bonus/bg5.png");
  }
  .bonus-block5-img {
    display: block;
    margin-left: 90px;
    margin-bottom: 15px;
    @media screen and (max-width: $mobile-small) {
      margin-left: 60px;
    }
  }
  .bonus-block5-h2 {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .bonus-block5-text {
    display: table;
  }
  .bonus-block5-bold-text {
    color: $second;
    font-size: 100px;
    font-weight: bold;
    margin-left: 50px;
    line-height: 1;
    @media screen and (max-width: $mobile-small) {
      margin-left: 20px;
    }
  }
  .bonus-block5-subtext {
    display: table;
    text-transform: uppercase;
    margin-left: 216px;
    margin-bottom: 34px;
    @media screen and (max-width: $mobile-small) {
      margin-left: 150px;
    }
  }
  .bonus-block6 {
    padding: 65px 0 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/dest/bonus/bg6.png");
  }
  .bonus-block6-h2 {
    margin-bottom: 50px;
  }
  .bonus-block6-text {
    text-align: center;
    margin-bottom: 30px;
    a {
      color: $accent;
      text-decoration: none;
    }
  }
  .bonus-block6-text--underline {
    position: relative;
    padding-bottom: 30px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 382px;
      height: 2px;
      background-color: $accent;
    }
  }
  .bonus-block6-container {
    position: relative;
  }
  .bonus-block6-img {
    position: absolute;
    display: block;
    top: -94px;
    right: -330px;
    @media screen and (max-width: $mobile-bp) {
      display: none;
    }
  }
  .bonus-block6-h2-bottom {
    text-transform: uppercase;
    margin-top: 140px;
    margin-bottom: 32px;
    display: block;
  }
  .bonus-block6-btn {
    display: block;
    padding: 16px;
    margin: 0 auto;
    max-width: 435px;
    width: 100%;
    background-color: $pink;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
    text-align: center;
    transition: background-color $base-duration $base-timing;
    &:hover {
      background-color: rgba($color: $pink, $alpha: 0.8);
    }
  }
}
