$accent: #ec008c;
$gray: #424242;
$purple: #592c82;
// FONTS
$base-text: $gray;
$title-text: $purple;

// BP
$mobile-bp: 1000px;
body {
  margin: 0;
}
.page--prizes {
  font-family: $mainfamily;
  color: $base-text;
  font-weight: normal;
  line-height: 1.3;
  min-width: 768px;
  -webkit-font-smoothing: antialiased;
  * {
    margin: 0;
    box-sizing: border-box;
  }
  .prizes-h1 {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 26px;
    text-transform: uppercase;
    strong {
      display: block;
      color: $accent;
      font-size: 50px;
      font-weight: 900;
      @media screen and (max-width: 1000px) {
        font-size: 60px;
      }
    }
    @media screen and (max-width: 1000px) {
      font-size: 46px;
    }
  }
  .prizes-h1--white {
    color: #fff;
    font-weight: normal;
    strong {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
    }
  }
  .prizes-h2 {
    color: $accent;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .prizes-h4 {
    color: $title-text;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .prize-h4--block3-item {
    position: absolute;
    top: 0;
    left: 0;
  }
  .prizes-h3 {
    color: $accent;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }
  .title-underline {
    position: relative;
    padding-bottom: 18px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      background-color: $accent;
    }
  }
  .title-underline--white {
    &:before {
      background-color: #fff;
    }
  }
  .btn--main {
    padding: 26px 10px 25px 10px;
  }
  .btn--main--block-text {
    max-width: 370px;
    width: 100%;
  }
  .block-text--white {
    color: #fff;
    font-weight: normal;
    b {
      font-weight: 900;
      color: $purple;
      text-transform: uppercase;
    }
    strong {
      font-size: 36px;
      font-weight: 900;
      color: $purple;
      text-transform: uppercase;
    }
  }
  .prizes-h1--block1 {
    padding-top: 80px;
    margin-top: -80px;
  }
  .block1-col {
    max-width: 50%;
    flex-basis: 50%;
    @media screen and (max-width: 1000px) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  .row--prizes-block1 {
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }
  .prizes-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    .block-text {
      max-width: 768px;
      text-align: center;
      font-size: 24px;
      margin-bottom: 55px;
      @media screen and (max-width: 1000px) {
        font-size: 34px;
      }
    }
  }
  .prizes-block-text-block1 {
    padding: 62px 40px 80px;
    box-shadow: 0px 10px 5px 0px rgba(38, 36, 36, 0.13);
    background-color: #fff;
    transform: translate(55px, 76px);
    @media screen and (max-width: 1000px) {
      box-shadow: none;
      transform: translate(0, 0);
    }
  }
  .prizes-block-img {
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .prizes-block-img--block1 {
    height: 630px;
    background-image: url('../images/dest/prize/DSC_8763.jpg');
  }
  .prizes-block2 {
    padding: 85px 0 72px;
    @media screen and (max-width: 1000px) {
      padding: 85px 0 0 0;
    }
  }
  .row--prizes-block2 {
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }
  .prizes-block-text--block2 {
    padding: 0 20px;
    @media screen and (max-width: 1000px) {
      padding: 0 20px 72px 20px;
    }
  }
  .prizes-h2--prizes-block2 {
    margin-bottom: 70px;
    @media screen and (max-width: 1000px) {
      margin-bottom: 20px;
    }
  }
  .prizes-block-img--block2 {
    height: 422px;
    background-image: url('../images/dest/prize/block2-bg.jpg');
  }
  .block2-col {
    max-width: 50%;
    flex-basis: 50%;
    @media screen and (max-width: 1000px) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  .prizes-h3--prizes-block2 {
    padding-top: 80px;
    margin-top: -80px;
    margin-bottom: 25px;
  }
  .prizes-block3 {
    padding: 50px 90px 30px 90px;
    background-color: #f8f8f8;
    @media screen and (max-width: 1466px) {
      padding: 50px 30px 30px 30px;
    }
  }
  .prizes-h1--block4 {
    padding-top: 80px;
    margin-top: -80px;
  }
  .prizes-h2--prizes-block3 {
    padding-top: 80px;
    margin-top: -80px;
    margin-bottom: 85px;
    @media screen and (max-width: 1000px) {
      margin-bottom: 20px;
    }
  }
  .prizes-block3-item-block {
    margin-bottom: 50px;
    @media screen and (max-width: 1000px) {
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &:nth-of-type(2) {
      .block3-col-1--3items {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .block3-col {
    position: relative;
    margin-right: 15px;
    padding-top: 70px;
    @media screen and (max-width: 1000px) {
      margin-top: 50px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .row--block3-item {
    flex-wrap: wrap;
  }

  .block3-col-1--4items {
    max-width: calc((100% - 15px * 3) / 4);
    flex-basis: calc((100% - 15px * 3) / 4);
    margin-right: 15px;
    @media screen and (max-width: 1350px) {
      max-width: calc((100% - 15px) / 2);
      flex-basis: calc((100% - 15px) / 2);
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
  .block3-col-2--3items {
    max-width: calc((100% - 15px * 2) / 2);
    flex-basis: calc((100% - 15px * 2) / 2);
    margin-right: 15px;
    @media screen and (max-width: 1350px) {
      max-width: 100%;
      flex-basis: 100%;
      margin-right: 0;
    }
  }
  .block3-col-1--3items {
    max-width: calc((100% - 15px * 2) / 4);
    flex-basis: calc((100% - 15px * 2) / 4);
    margin-right: 15px;
    @media screen and (max-width: 1350px) {
      max-width: calc((100% - 15px) / 2);
      flex-basis: calc((100% - 15px) / 2);
      &:nth-of-type(2) {
        margin-right: 0;
      }
    }
  }
  .block3-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    &:hover {
      .block3-item-info-inner {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }
    }
  }
  .block3-item-info {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 20px 18px;
    z-index: 2;
  }
  .block3-item-info-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: $purple, $alpha: 0.53);
    padding: 30px 10px 15px 10px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all $base-duration $base-timing;
  }
  .block3-item-info-text-inner {
    max-width: 420px;
  }
  .block3-item-info-title {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    @media screen and (max-width: 1622px) {
      font-size: 22px;
    }
    @media screen and (max-width: 1350px) {
      font-size: 24px;
    }
  }
  .block3-item-info-text {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.2;
    @media screen and (max-width: 1622px) {
      font-size: 20px;
    }
    @media screen and (max-width: 1350px) {
      font-size: 24px;
    }
  }
  .block3-item-img {
    position: relative;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 1500px) {
      height: 350px;
    }
  }
  .block3-item-title {
    color: $purple;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    @media screen and (max-width: 1000px) {
      font-size: 34px;
    }
  }
  .block3-item-text {
    font-size: 24px;
    text-align: center;
    @media screen and (max-width: 1000px) {
      font-size: 34px;
    }
  }
  .block3-item-text-block {
    flex-grow: 1;
    padding-top: 25px;
    margin-bottom: 10px;
  }
  .btn--block3-item {
    display: block;
    margin: 0 auto;
    @extend .btn;
    color: $purple;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 25px 10px 25px;
    &:hover {
      background-color: $accent;
      color: #fff;
    }
    @media screen and (max-width: 1000px) {
      font-size: 30px;
    }
  }
  .block4-col {
    max-width: 50%;
    flex-basis: 50%;
    @media screen and (max-width: 1000px) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  .prizes-block-img--block4 {
    height: 536px;
    background-image: url('../images/dest/prize/DSC_8743.jpg');
  }
  .prizes-block4 {
    padding: 85px 0 115px 0;
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      padding: 0;
      .block-text {
        max-width: 500px;
      }
    }
  }
  .prizes-block-text-block4 {
    padding: 62px 40px 80px;
    box-shadow: 0px 10px 5px 0px rgba(38, 36, 36, 0.13);
    background-color: #ff7dca;
    transform: translate(55px, 48px);
    @media screen and (max-width: 1000px) {
      transform: translate(0, 0);
      box-shadow: none;
    }
  }
  .block3-item-info-btn {
    background-color: #ef299e;
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    max-width: 362px;
    width: 100%;
    transition: all $base-duration $base-timing;
    @media screen and (max-width: 1622px) {
      font-size: 20px;
    }
    &:hover {
      background-color: $purple;
    }
  }
  .prizes-header {
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 8px solid #ef299e;
    background-color: #fff;
    z-index: 10;
    padding: 0 30px;
    transform: translate3d(0, 0, 0);
    ul {
      max-width: 960px;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: flex;
      @media screen and (max-width: 1000px) {
        justify-content: space-between;
      }
      li {
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .prizes-header-item {
      display: block;
      font-size: 18px;
      color: #4b4b4b;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1;
      padding: 20px 0 12px;
      margin-right: 20px;
      margin-right: 60px;
      transition: color $base-duration $base-timing;
      white-space: nowrap;
      @media screen and (max-width: 1000px) {
        margin-right: 30px;
      }
      &:hover,
      &:focus {
        color: $purple;
        outline: none;
      }
    }
  }
  .fake-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple;
    font-size: 30px;
    color: #fff;
    height: 100px;
  }
}
