// FONTS
$circe: Circe, sans-serif;
$mainfamily: $circe;
// COLOR
$accent: #b598e4;
$accent-sub: #582c83;
$black: #000;
$gray: #2b2b2b;
$gray-light: #f0f2f4;
$white: #fff;

// BP
$mobile-bp: 1000px;

body {
  margin: 0;
  min-width: 768px;
}
.promo2-main-container {
  overflow: hidden;
}
.container--promo2 {
  font-family: $mainfamily;
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 0 60px;
  box-sizing: border-box;
  @media screen and (max-width: $mobile-bp) {
    padding: 0 20px;
  }
}
.container--promo2--rel {
  position: relative;
}
.promo2-main {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin: 0;
  padding: 70px 0 116px 0;
  background-color: #f9fafb;
  background-image: url('../images/dest/buble-main.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 768px) {
    padding: 20px 0 56px 0;
    background-image: url('../images/dest/buble1.png');
    background-size: 200px;
    background-position: bottom right -100px;
  }
}
.promo2-main-spec-img {
  display: block;
  position: absolute;
  right: -6px;
  bottom: -168px;
  width: 648px;
  height: auto;
  z-index: 1;
  @media screen and (max-width: 1120px) {
    right: 10px;
  }
  @media screen and (max-width: $mobile-bp) {
    right: 34px;
    width: 458px;
  }
  @media screen and (max-width: 768px) {
    position: static;
    width: 100%;
  }
}
.promo2-main-inner {
  display: flex;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}
.promo2-main-icon {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.promo2-main-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo2-h1 {
  font-size: 46px;
  color: $black;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin: 14px 0 35px 0;
  line-height: 1.2;
  @media screen and (max-width: $mobile-bp) {
    font-size: 36px;
    margin: 0 0 16px 0;
  }
}
.promo2-h2 {
  font-size: 24px;
  color: $accent;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 0 0;
  @media screen and (max-width: $mobile-bp) {
    font-size: 32px;
    text-align: center;
    margin: 0 0 25px 0;
  }
}
.promo2-main-text {
  font-size: 24px;
  color: $black;
  text-align: center;
  margin: 0 0 35px 0;
  @media screen and (max-width: $mobile-bp) {
    font-size: 32px;
    text-align: center;
    margin: 0 0 40px 0;
  }
}
.btn-promo2 {
  border: 0;
  background-color: transparent;
  font-family: $mainfamily;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  padding: 0;
  &:focus {
    outline: none;
  }
}
.btn-promo2-main {
  display: block;
  padding: 16px 10px 14px 10px;
  background-color: $accent-sub;
  font-size: 18px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  &:hover {
    background-color: #dc2c7b;
  }
  @media screen and (max-width: $mobile-bp) {
    font-size: 32px;
    padding: 26px 20px 24px 20px;
  }
}

.promo2-reasons-block {
  padding: 48px 0 30px 0;
  @media screen and (max-width: $mobile-bp) {
    padding: 20px 0 30px 0;
  }
}
.promo2-h3 {
  color: $black;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  @media screen and (max-width: $mobile-bp) {
    font-size: 32px;
  }
  strong {
    font-size: 42px;
    color: $accent;
    font-weight: 900;
    @media screen and (max-width: $mobile-bp) {
      font-size: 42px;
    }
  }
}
.promo2-reasons-item-wrapper {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $mobile-bp) {
    flex-direction: column;
    align-items: center;
  }
}
.promo2-reasons-item-col {
  box-sizing: border-box;
  max-width: 270px;
  padding: 0 40px;
  @media screen and (max-width: $mobile-bp) {
    padding: 20px 0;
    max-width: 500px;
  }
}
.promo2-reasons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo2-reasons-item-icon {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  background-color: $accent;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.promo2-reasons-item-icon--support {
  background-image: url('../images/dest/support.png');
}
.promo2-reasons-item-icon--money {
  background-image: url('../images/dest/maney.png');
}
.promo2-reasons-item-icon--format {
  background-image: url('../images/dest/selfie.png');
  background-position: right 10px top 25px;
}
.promo2-reasons-item-title {
  font-weight: bold;
  font-size: 16px;
  color: $black;
  text-align: center;
  margin: 0 0 12px 0;
  line-height: 1;
  @media screen and (max-width: $mobile-bp) {
    font-size: 34px;
  }
}
.promo2-reasons-item-text {
  color: $gray;
  font-size: 16px;
  text-align: center;
  margin: 0;
  line-height: 1;
  @media screen and (max-width: $mobile-bp) {
    font-size: 34px;
  }
}
.promo2-help-block {
  overflow: hidden;
  background-color: $gray-light;
  padding: 54px 0 40px 0;
}
.promo2-h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  color: $black;
  text-transform: uppercase;
  strong {
    color: $accent;
    font-weight: 900;
  }
  @media screen and (max-width: $mobile-bp) {
    font-size: 34px;
  }
}
.promo2-h4-help {
  text-align: center;
  margin: 0 0 20px 0;
}
.promo2-help-block-title {
  margin: 0 0 48px 0;
  font-size: 16px;
  line-height: 1.4;
  color: $gray;
  text-align: center;
  @media screen and (max-width: $mobile-bp) {
    font-size: 32px;
    margin: 0 0 28px 0;
  }
}
.promo2-help-item-row {
  display: flex;
  position: relative;
  @media screen and (max-width: $mobile-bp) {
    flex-direction: column;
    align-items: center;
  }
}
.promo2-help-bubble {
  position: absolute;
  left: -288px;
  bottom: 20px;
  pointer-events: none;
}
.promo2-help-item-col {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  max-width: calc((100% - 40px) / 3);
  flex-basis: calc((100% - 40px) / 3);
  margin: 0 20px 0 0;
  @media screen and (max-width: $mobile-bp) {
    max-width: 500px;
    flex-basis: 500px;
    width: 100%;
    margin: 0 0 20px 0;
  }
  &:nth-of-type(3) {
    margin: 0;
  }
  &:nth-of-type(2) {
    .promo2-help-item {
      @media screen and (max-width: $mobile-bp) {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
.promo2-help-item-img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.promo2-help-item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo2-help-item-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 322px;
  padding: 12px;
  box-sizing: border-box;
  background-color: $accent;
  @media screen and (max-width: $mobile-bp) {
    height: 500px;
  }
}
.promo2-help-item-text-title {
  position: relative;
  display: inline-block;
  color: $white;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 26px;
  margin: 0 0 20px 0;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $white;
  }
  @media screen and (max-width: $mobile-bp) {
    font-size: 34px;
  }
}
.promo2-help-item-text {
  color: $white;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  margin: 0;
  @media screen and (max-width: $mobile-bp) {
    font-size: 28px;
  }
}
.promo2-consultation-block {
  padding: 54px 0 62px 0;
  @media screen and (max-width: $mobile-bp) {
    padding: 34px 0 42px 0;
  }
}
.promo2-consultation-buble {
  display: block;
  position: absolute;
  right: -360px;
  top: 13px;
  pointer-events: none;
  z-index: 1;
}
.promo2-consultation-inner {
  position: relative;
  z-index: 2;
}
.promo2-h4-consultation {
  text-align: center;
  margin: 0 0 84px 0;
  @media screen and (max-width: $mobile-bp) {
    margin: 0 0 44px 0;
  }
}
.promo2-consultation-item-row {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $mobile-bp) {
    flex-direction: column;
    align-items: center;
  }
}
.promo2-consultation-item-col {
  box-sizing: border-box;
  @media screen and (max-width: $mobile-bp) {
    margin-bottom: 60px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.promo2-consultation-item-img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: CENTER;
  background-size: cover;
  margin-bottom: 26px;
  @media screen and (max-width: $mobile-bp) {
    margin-bottom: 16px;
  }
}
.promo2-consultation-item-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  color: $black;
  text-align: center;
  strong {
    font-weight: normal;
    text-transform: uppercase;
  }
  @media screen and (max-width: $mobile-bp) {
    font-size: 30px;
  }
}
.promo2-work-bg-img {
  position: absolute;
  bottom: -50px;
  right: -130px;
  z-index: 1;
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
.promo2-work-block {
  padding: 54px 0 48px 0;
  background-color: $gray-light;
  @media screen and (max-width: $mobile-bp) {
    padding: 30px 0 48px 0;
    background-image: url('../images/dest/buble1.png'),
      url('../images/dest/buble1.png');
    background-size: 170px, 170px;
    background-position: top -70px left -40px, bottom 5px right -70px;
    background-repeat: no-repeat;
  }
}
.promo2-work-inner {
  position: relative;
  z-index: 2;
}
.promo2-h4-work {
  margin: 0 0 70px 0;
  text-align: center;
  @media screen and (max-width: $mobile-bp) {
    margin: 0 0 20px 0;
  }
}
.promo2-work-list {
  list-style: none;
  padding: 0;
  margin: 0 0 54px 0;
  margin-bottom: 50px;
  @media screen and (max-width: $mobile-bp) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.promo2-work-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 58px;
  color: $black;
  font-size: 24px;
  line-height: 1.3;
  @media screen and (max-width: $mobile-bp) {
    width: 100%;
    max-width: 500px;
    font-size: 32px;
    margin-bottom: 40px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  a {
    color: $accent-sub;
    &:hover {
      color: rgba($color: $accent-sub, $alpha: 0.8);
    }
    &:visited {
      color: rgba($color: $accent-sub, $alpha: 0.7);
    }
  }
}
.promo2-work-list-item-num {
  color: $accent;
  font-size: 80px;
  line-height: 100px;
  font-weight: 900;
  margin-right: 20px;
  @media screen and (max-width: $mobile-bp) {
    font-size: 60px;
  }
}
.btn-promo2-main--work {
  display: inline-block;
  margin-left: 64px;
  @media screen and (max-width: $mobile-bp) {
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }
}

.promo2-qa-block {
  background-color: #f0f2f4;
  padding: 48px 0 100px 0;
  @media screen and (max-width: $mobile-bp) {
    padding: 48px 0 50px 0;
  }
}
.promo2-qa-container {
  position: relative;
  z-index: 2;
}

.promo2-qa-bubble {
  position: absolute;
  right: -370px;
  bottom: -86px;
  z-index: 1;
  pointer-events: none;
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
.promo2-h4-qa {
  text-align: center;
  margin: 0 0 40px 0;
}
.promo2-qa-spoiler {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promo2-qa-spoiler-btn {
  color: $accent-sub;
  font-size: 16px;
  line-height: 1.4;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 16px;
  white-space: normal;
  @media screen and (max-width: $mobile-bp) {
    font-size: 30px;
  }
}
.promo2-qa-spoiler-text {
  display: none;
  font-size: 16px;
  color: $gray;
  font-weight: 300;
  text-align: center;
  margin: 0 0 20px 0;
  @media screen and (max-width: $mobile-bp) {
    font-size: 30px;
  }
}

.rub {
  font-family: ruble;
}

.promo2-comments-block {
  padding: 76px 0 54px 0;
  @media screen and (max-width: $mobile-bp) {
    padding: 34px 0 12px 0;
  }
}
.promo2-h4-comments {
  text-align: center;
  margin: 0;
  @media screen and (max-width: $mobile-bp) {
    margin: 0 0 12px 0;
  }
}
.promo2-comments-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo2-comments-slider {
  position: relative;
  margin: 0 -20px;
}
.promo2-comments-text {
  max-width: 764px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  font-weight: 300;
  margin: 0;
  padding: 30px 65px 32px 85px;
  margin-bottom: 12px;
  background-repeat: no-repeat;
  background-image: url('../images/dest/quotes1.png'),
    url('../images/dest/quotes2.png');
  background-position: top left 25px, bottom right 26px;
  @media screen and (max-width: $mobile-bp) {
    font-size: 30px;
    background-size: 20px auto, 20px auto;
    padding: 45px 55px 45px 55px;
    background-position: top left 26px, bottom right 28px;
  }
}

.promo2-comments-subtitle {
  width: 100%;
  text-align: right;
  margin: 0;
  max-width: 764px;
  box-sizing: border-box;
  padding: 0 45px 0 65px;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  font-weight: 300;
  @media screen and (max-width: $mobile-bp) {
    font-size: 30px;
    padding: 0 15px 0 25px;
  }
}
.promo2-comments-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
  transition: opacity 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0, 0, 0.24, 2.16);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    transform: translateY(-50%) scale(0.9);
  }
  &.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
    &:hover {
      opacity: 0.5;
    }
    &:active {
      transform: translateY(-50%) scale(1);
    }
  }
  @media screen and (max-width: $mobile-bp) {
    width: 12px;
  }
}
.promo2-comments-arrow--prev {
  left: 0;
  background-image: url('../images/dest/arrow-prev.png');
  @media screen and (max-width: $mobile-bp) {
    left: 6px;
  }
}
.promo2-comments-arrow--next {
  right: 0;
  background-image: url('../images/dest/arrow-next.png');
  @media screen and (max-width: $mobile-bp) {
    right: 6px;
  }
}
.promo2-comments-bubble {
  position: absolute;
  left: -260px;
  top: -240px;
  z-index: 1;
  pointer-events: none;
  width: 438px;
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
