* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}
.header_top_black {
  width: 100% !important;
  box-sizing: border-box !important;
}
.land--shugaring {
  min-width: 768px;
  font-family: Circe, sans-serif;
}
.land {
  color: #2b2b2b;
  font-size: 18px;
  line-height: 1.3;
  overflow: hidden;
}
.land img {
  max-width: 100%;
  height: auto;
}
.land__content {
  width: 100%;
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}
.land-section_top {
  background-color: #eeeeee;
  position: relative;
  background-image: url(../images/dest/promo3/land1.png);
  background-position: 31vw 0;
  background-size: auto 86%;
  background-repeat: no-repeat;
}
.land-top__block {
  padding-left: 194px;
  position: relative;
}
.land-top__title {
  padding: 82px 0 21px;
  max-width: 574px;
  position: relative;
  z-index: 5;
  text-transform: uppercase;
}
.land-top__title::before {
  position: absolute;
  background: #7b3ea7;
  height: 2px;
  bottom: 0;
  right: 290px;
  width: 50vw;
  content: '';
}
.land-top__title::after {
  position: absolute;
  background: #7b3ea7;
  width: 2px;
  bottom: 45px;
  right: 0;
  height: 200px;
  content: '';
}
.land-top__main {
  font-size: 54px;
  line-height: 1;
  margin-bottom: 4px;
}
.land-top__middle {
  font-size: 42px;
  line-height: 1;
  margin-bottom: 4px;
}
.land-top__small {
  font-size: 36px;
  color: #7b3ea7;
  line-height: 1;
}
.land-top__subtitle {
  padding-top: 28px;
  max-width: 574px;
  text-align: right;
  font-size: 24px;
  position: relative;
  z-index: 5;
}
.land-top {
  margin-bottom: 148px;
}
.land-describe {
  position: relative;
  z-index: 5;
}
.land__title {
  font-weight: bold;
  font-size: 24px;
  color: #7b3ea7;
  text-transform: uppercase;
}
.land__title_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.land__title_arrow::before {
  background: url(../images/dest/promo3/land-check.png) no-repeat;
  content: '';
  width: 39px;
  height: 43px;
  background-size: 100%;
}
.land-describe__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 55px;
}
.land-describe__image {
  width: 56%;
  min-width: 56%;
}
.land-describe__content .land__title {
  text-align: center;
}
.land-describe__content {
  padding-top: 48px;
  position: relative;
  max-width: 500px;
  margin-left: -110px;
  margin-top: 188px;
}
.land-describe__content::before {
  position: absolute;
  background: #7b3ea7;
  height: 2px;
  top: 0;
  left: 150px;
  width: 50vw;
  content: '';
}
.land-describe__title {
  padding-bottom: 30px;
}
.land-section__title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}
.land-describe__text {
  font-size: 24px;
}
.land-compound {
  padding: 38px 0 36px;
  background-image: url(../images/dest/promo3/land3.png);
  background-repeat: no-repeat;
  background-position: 100% -200px;
  position: relative;
}

.land-compound .land__title {
  margin-bottom: 30px;
}
.land__color {
  font-weight: bold;
  color: #7b3ea7;
}
.land__text:not(:last-child) {
  margin-bottom: 25px;
}
.land__text p:not(:last-child) {
  margin-bottom: 6px;
}
.land__link {
  font-weight: bold;
  color: #7b3ea7;
  text-decoration: underline;
}
.land__link:hover {
  text-decoration: none;
}
.land-compound__block {
  max-width: 840px;
  margin-bottom: 46px;
}
.land-compound__item {
  max-width: 900px;
  position: relative;
}
.land-compound-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.land-compound-group .land__text:not(:last-child) {
  margin-bottom: 20px;
}
.land-compound-group__image {
  width: 350px;
  min-width: 350px;
  margin-right: 20px;
  position: relative;
}
.land-compound-group__image::after {
  content: '';
  background-color: #a87bd1;
  width: 50vw;
  position: absolute;
  opacity: 0.1;
  z-index: 2;
}
.land-compound-group__image img {
  position: relative;
  z-index: 5;
  display: block;
}
.land-compound-group__title {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 6px;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
}
.land-compound-group__title::after {
  content: '';
  height: 2px;
  background: #7b3ea7;
  position: absolute;
  width: 280px;
  right: 40px;
  bottom: 0;
}
.land-icons {
  margin: 0 -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.land-icons__item {
  padding: 0 6px;
}
.land-icons__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.land-icons__image {
  margin-right: 6px;
}
.land-icons__image img {
  display: block;
}
.land-icons__label {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e9eaf7;
  padding: 2px 9px 0;
  text-transform: uppercase;
  font-weight: 300;
}

.land-compound-group__content {
  position: relative;
  z-index: 4;
}
.land-compound__item_1 .land-compound-group__content {
  padding-top: 27px;
}
.land-compound__item_1 .land-compound-group__image::before {
  content: '';
  background-image: url(../images/dest/promo3/land6.png);
  width: 737px;
  height: 857px;
  right: 10px;
  top: 41px;
  position: absolute;
}
.land-compound__item_1 .land-compound-group__image::after {
  z-index: 2;
  right: calc(100% + 35px);
  top: 34px;
  bottom: 17px;
}
.land-compound__item_2 {
  margin-left: 160px;
  margin-top: 20px;
}
.land-compound__item_2 .land-icons__label {
  background: #ffffff;
}
.land-compound__item_2 .land-compound-group {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.land-compound__item_2 .land-compound-group__image::after {
  left: calc(100% - 20px);
  top: 22px;
  bottom: 26px;
}
.land-compound__item_2 .land-compound-group__image {
  margin: 0 0 0 30px;
}
.land-compound__item_2 .land-compound-group__content {
  padding-top: 60px;
}
.land-compound__item_3 .land-compound-group__image::after {
  right: -50px;
  top: 39px;
  bottom: 13px;
}
.land-compound__item_3 .land-compound-group__image {
  margin-right: 82px;
}
.land-compound__item_3 .land-compound-group__content {
  padding-top: 115px;
}
.land-compound__item_3 {
  margin-top: 20px;
}
.land-compound__item_3 .land-compound-group__title::after {
  right: 144px;
}
.land-compound__item_4 {
  margin-top: -56px;
}
.land-compound__item_4 .land-compound-group {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.land-compound__item_4 .land-compound-group__image {
  margin: 0 0 0 30px;
}
.land-compound__item_4 .land-compound-group__image::after {
  left: calc(100% - 20px);
  top: 80px;
  bottom: -30px;
}
.land-compound__item_4 .land-compound-group__content {
  padding-top: 112px;
}
.land-compound__item_4 .land-compound-group__title::after {
  left: calc(100% + 40px);
  right: auto;
}
.land-compound__item_4 .land-compound-group__image::before {
  content: '';
  background-image: url(../images/dest/promo3/land13.png);
  width: 259px;
  height: 240px;
  right: -97px;
  bottom: -109px;
  position: absolute;
  z-index: 1;
}
.land-compound__item_5 {
  margin-left: 160px;
  margin-bottom: 20px;
}
.land-compound__item_5 .land-compound-group__image::after {
  display: none;
}
.land-compound__item_5 .land-compound-group__content {
  padding-top: 66px;
}
.land-compound__item_6::before {
  content: '';
  background-image: url(../images/dest/promo3/land11.png);
  width: 680px;
  height: 681px;
  right: -399px;
  top: -29px;
  position: absolute;
  z-index: 1;
}
.land-compound__item_6::after {
  right: 0;
  top: 37px;
  bottom: 9px;
  width: 80vw;
  content: '';
  background-color: #a87bd1;
  position: absolute;
  opacity: 0.1;
  z-index: 2;
}
.land-compound__item_6 .land-compound-group__image::after {
  display: none;
}
.land-compound__item_6 .land-compound-group__content {
  padding-top: 107px;
}
.land-compound-group__icons {
  padding-bottom: 20px;
}
.land-section_grey {
  background: #eeeeee;
}
.land-line {
  padding: 20px 0 70px 0;
}
.land-line .land__title {
  margin-bottom: 24px;
}
.land-part {
  position: relative;
}
.land-compound__slider {
  position: relative;
  z-index: 2;
}
.land-part__title {
  padding: 68px 0 9px;
  position: relative;
  z-index: 5;
}
.land-part__text {
  padding-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 5;
}
.land-advantages {
  padding: 40px 0;
  max-width: 954px;
  margin: 0 auto;
}
.land-advantages .land__title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
}
.land-advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.land-advantages__item {
  width: 33.3333%;
  min-width: 33.3333%;
  padding: 0 15px;
}
.land-advantages__block {
  padding-bottom: 40px;
  text-align: center;
  max-width: 285px;
  margin: 0 auto;
}
.land-advantages__images {
  width: 84px;
  height: 84px;
  margin: 0 auto 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.land-advantages__images img {
  max-height: 100%;
  width: auto;
  display: block;
}
.land-advantages__text {
  font-size: 16px;
  line-height: 1.1;
}
.land-links {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 954px;
  margin: 0 auto;
}
.land-links__list {
  width: 230px;
  min-width: 230px;
  text-align: center;
  margin-left: -60px;
  padding-top: 27px;
}
.land-links__item {
  margin-bottom: 18px;
}
.land-links__icon {
  margin-bottom: 8px;
}
.land-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  padding: 0 10px;
  color: #ffffff;
  background: #7b3ea7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  font-size: 24px;
}
.land-links__link:hover {
  background: #a87bd1;
}
.land-compound__slider .slick-arrow {
  width: 15px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  top: 208px;
  z-index: 5;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  color: transparent;
  border: none;
  font-size: 0;
}
.land-compound__slider .slick-prev {
  background-image: url(../images/dest/promo3/arrow-prev.png);
  left: 15px;
}
.land-compound__slider .slick-next {
  background-image: url(../images/dest/promo3/arrow-next.png);
  right: 15px;
}
@media screen and (max-width: 900px) {
  .land-compound__item_4 {
    margin-left: 0;
  }
  .land-compound__item_5 {
    margin-left: 160px;
    margin-bottom: 20px;
  }
  .land-compound__item_2 {
    margin-left: 160px;
    margin-top: 20px;
  }
  .land-compound__item_3 {
    margin-top: 20px;
  }
  .land-top {
    margin-bottom: 40px;
  }
  .land-describe__content {
    margin-top: 0;
  }
  .land-compound__item_2 {
    margin-left: 0;
  }
  .land-compound__item_5 {
    margin-left: 0;
  }
  .land-links {
    display: block;
  }
  .land-links__image img {
    display: block;
  }
  .land-links__list {
    width: 100%;
    min-width: 100%;
    margin-left: 0;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -1px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .land-links__item {
    margin-bottom: 0;
    padding: 0 1px;
  }
  .land-top__block {
    padding-left: 40px;
  }
}
/* /900 */

@media screen and (max-width: 768px) {
  .land-top__subtitle {
    padding-bottom: 258px;
    font-size: 32px;
    max-width: 640px;
  }
  .land__content {
    padding: 0 30px;
  }
  .land-top__main {
    font-size: 42px;
    margin-bottom: 14px;
  }
  .land__title {
    font-size: 34px;
  }
  .land-describe__text {
    font-size: 30px;
  }
  .land-top__middle {
    font-size: 42px;
    margin-bottom: 14px;
  }
  .land-compound-group {
    display: block;
    font-size: 30px;
  }
  .land-line__text {
    font-size: 32px;
    line-height: 1.6;
  }
  .land-compound-group__image {
    width: 100%;
    min-width: 100%;
    margin: 0;
  }
  .land-compound-group__image img {
    width: 500px;
    margin: 0 auto;
  }
  .land-compound__slider .slick-arrow {
    width: 25px;
    height: 74px;
    top: 318px;
  }
  .land-compound-group__image::before,
  .land-compound-group__image::after {
    display: none;
  }
  .land-compound-group__content {
    padding-top: 20px;
  }
  .land-compound__item_1 .land-compound-group__content {
    padding-top: 20px;
  }
  .land-compound__item_2 .land-compound-group__content {
    padding-top: 20px;
  }
  .land-compound__item_3 .land-compound-group__content {
    padding-top: 20px;
  }
  .land-compound__slider {
    margin: 0 -15px;
  }
  .land-compound__item {
    padding: 0 15px;
    margin: 0;
  }
  .land-compound__slider_1::before {
    content: '';
    background-image: url(../images/dest/promo3/land6.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 323px;
    height: 324px;
    left: -150px;
    top: -150px;
    position: absolute;
  }
  .land-compound__slider_1 .land-compound-group__image::after {
    display: block;
    left: -15px;
    right: -15px;
    top: 20px;
    bottom: 16px;
    width: auto;
  }
  .land-compound-group__icons {
    padding-bottom: 30px;
  }
  .land-part__title {
    padding: 68px 0 20px;
  }
  .land-part__text {
    font-size: 30px;
    padding-bottom: 30px;
  }
  .land-advantages .land__title {
    margin-bottom: 25px;
    font-size: 30px;
  }
  .land-advantages__text {
    font-size: 25px;
  }
  .land-advantages__block {
    max-width: none;
    padding-bottom: 50px;
  }
  .land-advantages__images {
    width: 104px;
    height: 104px;
  }
  .land-advantages__images img {
    height: 100%;
  }
  .land-links__link {
    font-size: 24px;
  }
  .land-links__list {
    padding-top: 30px;
  }
  .land-compound__item_2 .land-compound-group__image {
    margin: 0;
  }
  .land-compound__item_4 .land-compound-group__image {
    margin: 0;
  }
  .land-compound-group__title {
    text-align: center;
    display: block;
  }
  .land-compound-group__title::after {
    width: 50%;
    right: 0;
  }
  .land-compound__item_3 .land-compound-group__title::after {
    right: 0;
  }
  .land-line {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .land-part {
    padding-top: 28px;
  }
  .land-compound__item_6::before {
    display: none;
  }
  .land-compound__slider_2::before {
    content: '';
    background-image: url(../images/dest/promo3/land13.png);
    background-size: cover;
    width: 127px;
    height: 124px;
    right: 0;
    top: -10px;
    position: absolute;
    z-index: 0;
  }
  .land-compound__item_4 .land-compound-group__content {
    padding-top: 20px;
  }
  .land-compound__item_5 .land-compound-group__content {
    padding-top: 20px;
  }
  .land-compound__item_6 .land-compound-group__content {
    padding-top: 20px;
  }
  .land-compound__slider_2 .land-compound-group__content::after {
    left: -15px;
    right: -15px;
    top: -63px;
    bottom: 0;
    width: auto;
    content: '';
    background-color: #a87bd1;
    position: absolute;
    opacity: 0.1;
    z-index: 2;
  }
  .land-compound__item_6::after {
    display: none;
  }
  .land-advantages__item {
    width: 50%;
    min-width: 50%;
  }
  .land-advantages__item_bottom {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .land-section_top {
    background: none;
  }
  .land-top {
    background-image: url(../images/dest/promo3/land1-mobile.png);
    background-color: #ffffff;
    background-position: 100% 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  .land-top__title {
    padding: 50px 0 20px;
    max-width: 640px;
  }
  .land-describe {
    background: #eeeeee;
    padding: 20px 0;
  }
  .land-describe__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  .land-describe__image {
    width: 100%;
    min-width: 100%;
  }
  .land-describe__content {
    padding-top: 0;
    max-width: none;
    margin-top: 0;
    margin-left: 52px;
    padding-bottom: 20px;
  }
  .land-describe__content .land__title {
    text-align: left;
  }
  .land-describe__content::before {
    top: -56px;
    left: auto;
    right: 0;
    width: 440px;
    content: '';
    height: 1px;
  }
  .land-top__block {
    padding-left: 6px;
    min-height: 278px;
  }
  .land-top__title::before {
    height: 1px;
    right: auto;
    left: -30px;
    width: 440px;
  }
  .land__title_arrow::before {
    width: 59px;
    height: 69px;
  }
  .land-compound__block {
    position: relative;
    z-index: 7;
    font-size: 28px;
    margin-bottom: 66px;
  }
  .land-compound {
    background-size: 50%;
    background-position: 118% -72px;
  }
  .land-compound__item_4 .land-compound-group__title::after {
    left: auto;
    right: 50%;
    width: 50%;
  }
  .land-top__title::after {
    width: 1px;
    bottom: 10px;
  }
  .land-compound__item_2 .land-icons__label {
    background: #e9eaf7;
  }
}
/* /768 */
// @media screen and (max-width: 576px) {
//   .land-links__icon img {
//     max-width: 30px;
//   }
//   .land-links__link {
//     height: 22px;
//     font-size: 11px;
//     padding: 0 4px;
//   }
//   .land-links__item {
//     -webkit-box-flex: 1;
//     -ms-flex-positive: 1;
//     flex-grow: 1;
//   }
//   .land-links {
//     padding: 0 0 40px;
//   }
//   .land-advantages__text {
//     font-size: 12px;
//   }
//   .land-advantages__block {
//     padding-bottom: 18px;
//   }
//   .land-advantages {
//     padding-bottom: 18px;
//   }
//   .land-advantages__images {
//     width: 48px;
//     height: 48px;
//     margin-bottom: 12px;
//   }
//   .land-advantages .land__title {
//     margin-bottom: 24px;
//     font-size: 12px;
//   }
//   .land-part__title {
//     padding-top: 20px;
//   }
//   .land-describe__content::before {
//     top: -36px;
//   }
//   .land-top {
//     margin-bottom: 0;
//   }
//   .land-top__main {
//     font-size: 18px;
//   }
//   .land-top__middle {
//     font-size: 18px;
//     margin-bottom: 0px;
//   }
//   .land-top__small {
//     font-size: 14px;
//   }
//   .land {
//     font-size: 12px;
//   }
//   .land-describe__text {
//     font-size: 12px;
//   }
//   .land-describe__content .land__title {
//     font-size: 12px;
//   }
//   .land-top__subtitle {
//     font-size: 12px;
//     padding-top: 15px;
//     max-width: 264px;
//   }
//   .land-section__title {
//     font-size: 18px;
//   }
//   .land__title {
//     font-size: 16px;
//   }
//   .land__title_arrow {
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//   }
//   .land__title_arrow::before {
//     width: 27px;
//     height: 30px;
//     margin-right: 5px;
//   }
//   .land-compound {
//     padding: 20px 0;
//   }
//   .land-compound .land__title {
//     margin-bottom: 12px;
//   }
//   .land-compound__block {
//     margin-bottom: 30px;
//   }
//   .land__text:not(:last-child) {
//     margin-bottom: 12px;
//   }
//   .land-compound-group__image img {
//     width: 230px;
//   }
//   .land-compound__slider .slick-arrow {
//     top: 130px;
//   }
// }
/* /576 */
