$accent: #9f85dc;
$second: #5b3083;
$pink: #f655a0;
// FONTS
$base-text: #272727;
$text-second: #111;

// BP
$lg-bp: 1900px;
$lg-medium: 1400px;
$mobile-bp: 1000px;
$mobile-small: 750px;

body {
  margin: 0;
}
.vacancy-page {
  font-family: $mainfamily;
  color: $base-text;
  font-weight: normal;
  line-height: 1.3;
  min-width: 750px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  .text-center {
    text-align: center;
  }
  * {
    margin: 0;
    box-sizing: border-box;
  }
  .rub {
    font-family: ruble;
  }
  .row {
    display: flex;
  }
  .row--wrap {
    flex-wrap: wrap;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .base-title {
    display: block;
    text-align: center;
    position: relative;
    font-size: 36px;
    color: $second;
    font-weight: 300;
    text-transform: uppercase;
    b {
      font-weight: 900;
    }
    .base-title-underline {
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
      background-color: $accent;
      height: 2px;
      width: 150px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -4px;
        width: 10px;
        height: 10px;
        background-color: $accent;
        border-radius: 50%;
      }
    }
    .base-title-underline--start {
      &::after {
        left: 20px;
      }
    }
    .base-title-underline--end {
      &::after {
        right: 20px;
      }
    }
    .base-title-underline--center {
      &::after {
        left: 70px;
      }
    }
  }
  .container-vacancy {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 60px;
    @media screen and (max-width: $mobile-bp) {
      padding: 0 30px;
    }
  }
  .vacancy-text-base {
    font-size: 24px;
    color: $base-text;
    font-weight: 300;
  }
  .btn--vacancy {
    font-size: 24px;
    color: #fff;
    background-color: $accent;
  }

  .vacancy-main {
    padding: 62px 0 230px 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url("../images/dest/vacancy/bg--2.jpg");
    background-color: #f5f0f7;
  }
  .btn--vacancy-main {
    max-width: 295px;
    width: 100%;
    padding: 12px 10px;
    border-radius: 6px;
    margin-top: 54px;
    margin-left: auto;
  }

  .row--vacancy-main {
    justify-content: flex-end;
  }
  .vacancy-main-inner {
    display: flex;
    flex-direction: column;
    max-width: 610px;
  }
  .vacancy-main-text-wrapper {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
  }
  .vacancy-main-title {
    font-size: 31px;
    color: $second;
    font-weight: 300;
    line-height: 1;
  }
  .vacancy-main-subtitle {
    color: $accent;
    font-size: 59px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 12px;
  }
  .vacancy-tag-text {
    align-self: flex-end;
    position: relative;
    width: 300px;
    color: $second;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-bottom: 52px;
    &::before {
      content: "";
      position: absolute;
      bottom: 1px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: $second;
    }
  }
  .vacancy-tag-text-circle {
    display: block;
    position: absolute;
    left: -33px;
    bottom: -11px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 3px solid $accent;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: $second;
      border-radius: 50%;
    }
  }
  .vacancy-text-base--main {
    text-align: right;
  }
  .vacancy-feature {
    background-repeat: no-repeat;
    background-image: url("../images/dest/vacancy/bg--1.jpg");
    background-position: top right;
    background-size: cover;
    padding: 175px 0 20px 0;
    clip-path: polygon(0 22%, 100% 0, 100% 100%, 0 100%);
    margin-top: -260px;
    @media screen and (max-width: 1400px) {
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      margin-top: -190px;
    }
    @media screen and (max-width: $mobile-bp) {
      clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
    }
  }
  .vacancy-feature-item {
    display: flex;
    margin-bottom: 80px;
  }
  .container-vacancy--feature {
    max-width: 1010px;
  }
  .base-title--feature {
    margin-bottom: 40px;
  }
  .vacancy-feature-item-number-col {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 0 16px 0 0;
    width: 90px;
    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    &::before {
      width: 2px;
      height: 100%;
      right: 0;
      top: 0;
      background-color: $second;
    }
    &::after {
      width: 10px;
      height: 10px;
      right: -4px;
      top: 20px;
      background-color: $second;
      border-radius: 50%;
    }
    &.vacancy-feature-item-number-col--center {
      &::after {
        top: 80px;
      }
    }
    &.vacancy-feature-item-number-col--bottom {
      &::after {
        top: auto;
        bottom: 20px;
      }
    }
  }
  .vacancy-feature-item-number {
    font-size: 60px;
    color: $accent;
  }
  .vacancy-feature-item-text-col {
    flex-grow: 1;
    padding: 0 0 0 28px;
  }
  .vacancy-feature-item-title {
    font-size: 30px;
    color: $accent;
    font-weight: bold;
    text-transform: uppercase;
  }
  .vacancy-feature-item-subtitle {
    font-size: 24px;
    font-weight: 300;
    color: $base-text;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .vacancy-history {
    padding: 56px 0 210px 0;
    background-repeat: no-repeat;
    background-image: url("../images/dest/vacancy/bg--3.jpg");
    background-position: top left;
    background-color: #eeeeef;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 63%);
    @media screen and (max-width: 1400px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 73%);
    }
    @media screen and (max-width: $mobile-bp) {
      background-image: none;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);
    }
  }
  .base-title--history {
    margin-bottom: 60px;
  }
  .vacancy-history-item-wrapper {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  .vacancy-history-item-number {
    display: block;
    font-size: 75px;
    color: $accent;
    line-height: 1;
    @media screen and (max-width: $mobile-bp) {
      font-size: 62px;
    }
  }
  .vacancy-history-item-text {
    font-size: 18px;
    text-transform: uppercase;
    color: $second;
    font-weight: bold;
    @media screen and (max-width: $mobile-bp) {
      font-size: 14px;
    }
  }
  .vacancy-history-item-inner {
    display: none;
    width: 100%;
    min-height: 170px;
    justify-content: space-between;
    @media screen and (max-width: $mobile-bp) {
      min-height: 130px;
    }
    &.show {
      display: flex;
    }
  }
  .vacancy-history-item-inner--1 {
    max-width: 675px;
  }
  .vacancy-history-timelane-wrapper {
    position: relative;
  }
  .vacancy-history-timelane {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1400px;
    height: 2px;
    background-color: $second;
    @media screen and (max-width: $mobile-bp) {
      width: 1000px;
    }
  }
  .vacancy-history-timelane-point-wrapper {
    display: table;
    position: absolute;
    bottom: -6px;
    cursor: pointer;
  }
  .vacancy-history-timelane-point-wrapper--1 {
    left: 0;
    .vacancy-history-timelane-text {
      left: 0;
      top: -36px;
    }
  }
  .vacancy-history-timelane-point-wrapper--2 {
    left: 872px;
    @media screen and (max-width: $mobile-bp) {
      left: 610px;
    }
    .vacancy-history-timelane-text {
      right: 0;
      bottom: -40px;
    }
  }
  .vacancy-history-timelane-text {
    position: absolute;
    font-size: 19px;
    color: $second;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .vacancy-history-timelane-point-input {
    @extend .visually-hidden;
    &:checked + .vacancy-history-timelane-point {
      &::after {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  .vacancy-history-timelane-point {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $second;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0.5);
      width: 28px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url("../images/dest/vacancy/point_active.png");
      z-index: 1;
      opacity: 0;
      transition: opacity $base-duration $base-timing,
        transform $base-duration $base-timing;
    }
  }
  .container-vacancy--slider {
  }
  .base-title--slider {
    margin-bottom: 118px;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 68px;
    }
  }
  .vacancy-slider-section {
    padding: 108px 0 0 0;
    margin-top: -120px;
    @media screen and (max-width: 1200px) {
      margin-top: -80px;
    }
  }
  .vacancy-slider {
    padding: 0 56px;
    .slick-arrow {
      position: absolute;
      bottom: 0;
      width: 56px;
      height: 50px;
      font-size: 0;
      color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 512 512' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%239f85dc' d='m508.875 248.458-160-160c-4.167-4.167-10.917-4.167-15.083 0-4.167 4.167-4.167 10.917 0 15.083l141.792 141.792h-464.917c-5.896 0-10.667 4.771-10.667 10.667s4.771 10.667 10.667 10.667h464.917l-141.792 141.791c-4.167 4.167-4.167 10.917 0 15.083 2.083 2.083 4.813 3.125 7.542 3.125s5.458-1.042 7.542-3.125l160-160c4.166-4.166 4.166-10.916-.001-15.083z'/%3E%3C/svg%3E");
      &.slick-disabled {
        opacity: 0;
        visibility: hidden;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    .slick-prev {
      left: -10px;
      transform: rotate(180deg);
    }
    .slick-next {
      right: -10px;
    }
    .slick-dots {
      display: table;
      position: relative;
      padding: 0;
      margin: 38px auto 0 auto;
      list-style: none;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: calc(100% + 10px);
        background-color: $accent;
      }
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        line-height: 1;
        font-size: 0;
        &:last-child {
          margin-right: 0;
        }
        &.slick-active {
          button {
            &::after {
              opacity: 1;
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }
        button {
          position: relative;
          font-size: 0;
          line-height: 1;
          color: transparent;
          width: 10px;
          height: 10px;
          background-color: $second;
          border-radius: 50%;
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            width: 28px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-image: url("../images/dest/vacancy/point_active.png");
            z-index: 1;
            opacity: 0;
            transition: opacity $base-duration $base-timing,
              transform $base-duration $base-timing;
          }
        }
      }
    }
  }
  .vacancy-slide-title {
    font-size: 30px;
    font-weight: bold;
    color: $accent;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  .vacancy-team {
    overflow: hidden;
    position: relative;
    height: 983px;
  }
  .vacancy-team-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 983px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../images/dest/vacancy/bg4.png");
    @media screen and (max-width: $mobile-bp) {
      left: 32%;
    }
  }
  .vacancy-team-title {
    position: absolute;
    left: 758px;
    top: 172px;
    z-index: 2;
    font-size: 72px;
    color: $second;
    white-space: nowrap;
    font-weight: normal;
    text-transform: uppercase;
    b {
      font-weight: 900;
    }
  }
  .vacancy-slide-text {
    text-align: center;
  }
  .vacancy-team-text {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    font-size: 24px;
    color: $second;
    text-align: center;
    @media screen and (max-width: $mobile-bp) {
      left: 58%;
    }
    a {
      text-decoration: underline;
      color: $second;
      transition: color $base-duration $base-timing;
      &:hover {
        color: rgba($color: $second, $alpha: 0.8);
      }
    }
  }
  .vacancy-team-fancy {
    position: absolute;
    z-index: 1;
  }
  .vacancy-team-fancy--1 {
    left: 0;
    top: 0;
    width: 263px;
    height: 184px;
  }
  .vacancy-team-fancy--2 {
    left: 261px;
    top: 31px;
    width: 458px;
    height: 241px;
  }
  .vacancy-team-fancy--3 {
    left: auto;
    right: 242px;
    top: 161px;
    width: 218px;
    height: 138px;
  }
  .vacancy-team-fancy--4 {
    left: auto;
    right: 0;
    top: 190px;
    width: 241px;
    height: 155px;
  }
  .vacancy-team-fancy--5 {
    left: 0px;
    top: 185px;
    width: 413px;
    height: 253px;
  }
  .vacancy-team-fancy--6 {
    left: 394px;
    top: 271px;
    width: 717px;
    height: 306px;
  }
  .vacancy-team-fancy--7 {
    left: auto;
    right: 238px;
    top: 298px;
    width: 359px;
    height: 246px;
  }
  .vacancy-team-fancy--8 {
    left: auto;
    right: 454px;
    top: 335px;
    width: 373px;
    height: 250px;
  }
  .vacancy-team-fancy--9 {
    left: auto;
    right: 0px;
    top: 344px;
    width: 332px;
    height: 265px;
  }
  .vacancy-team-fancy--10 {
    left: 0px;
    top: 437px;
    width: 395px;
    height: 320px;
  }
  .vacancy-team-fancy--11 {
    left: 120px;
    top: 504px;
    width: 390px;
    height: 295px;
  }
  .vacancy-team-fancy--12 {
    left: 394px;
    top: 576px;
    width: 400px;
    height: 254px;
  }
  .vacancy-team-fancy--13 {
    left: 740px;
    top: 508px;
    width: 414px;
    height: 284px;
  }
  .vacancy-team-fancy--14 {
    left: auto;
    right: 0px;
    top: 608px;
    width: 334px;
    height: 309px;
  }
  .vacancy-team-fancy--15 {
    left: auto;
    right: 297px;
    top: 543px;
    width: 470px;
    height: 314px;
  }
  .vacancy-feature2 {
    padding: 50px 0 40px 0;
  }
  .vacancy-feature2-item-col {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 0 20px;
    margin-bottom: 80px;
    @media screen and (max-width: $mobile-bp) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  .base-title--feature2 {
    margin-bottom: 90px;
  }
  .row--vacancy-feature2 {
    justify-content: center;
  }
  .vacancy-feature2-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .vacancy-feature2-item-img {
    margin-bottom: 50px;
    img {
      display: block;
      width: 80px;
      height: auto;
    }
  }
  .vacancy-bottom {
    padding: 62px 0 50px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/dest/vacancy/bg5.png");
  }
  .row--vacancy-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .vacancy-bottom-email {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  .vacancy-bottom-email-link {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: $second;
    transition: color $base-duration $base-timing;
    &:hover {
      color: rgba($color: $second, $alpha: 0.8);
    }
  }
  .vacancy-bottom-email-icon {
    margin-right: 20px;
    img {
      display: block;
      width: 65px;
      height: auto;
    }
  }
  .vacancy-bottom-social {
    display: flex;
  }
  .base-title--vacancy-bottom {
    margin-bottom: 50px;
  }
  .vacancy-bottom-social-item {
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: opacity $base-duration $base-timing;
    &:hover {
      opacity: 0.8;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .vacancy-bottom-social-item--fb {
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 97.75 97.75' height='97.75' viewBox='0 0 97.75 97.75' width='97.75' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m48.875 0c-26.993 0-48.875 21.882-48.875 48.875s21.882 48.875 48.875 48.875 48.875-21.882 48.875-48.875-21.882-48.875-48.875-48.875zm18.646 24.89-6.76.003c-5.301 0-6.326 2.519-6.326 6.215v8.15h12.641l-.006 12.765h-12.634v32.758h-13.185v-32.758h-11.022v-12.765h11.022v-9.414c0-10.925 6.675-16.875 16.42-16.875l9.851.015v11.906z' fill='%239f85dc'/%3E%3C/svg%3E");
  }
  .vacancy-bottom-social-item--vk {
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 97.75 97.75' height='97.75' viewBox='0 0 97.75 97.75' width='97.75' xmlns='http://www.w3.org/2000/svg' fill='%239f85dc'%3E%3Cpath d='m48.875 0c-26.992 0-48.875 21.882-48.875 48.875s21.883 48.875 48.875 48.875 48.875-21.882 48.875-48.875-21.883-48.875-48.875-48.875zm24.792 54.161c2.278 2.225 4.688 4.319 6.733 6.774.906 1.086 1.76 2.209 2.41 3.472.928 1.801.09 3.776-1.522 3.883l-10.013-.002c-2.586.214-4.644-.829-6.379-2.597-1.385-1.409-2.67-2.914-4.004-4.371-.545-.598-1.119-1.161-1.803-1.604-1.365-.888-2.551-.616-3.333.81-.797 1.451-.979 3.059-1.055 4.674-.109 2.361-.821 2.978-3.19 3.089-5.062.237-9.865-.531-14.329-3.083-3.938-2.251-6.986-5.428-9.642-9.025-5.172-7.012-9.133-14.708-12.692-22.625-.801-1.783-.215-2.737 1.752-2.774 3.268-.063 6.536-.055 9.804-.003 1.33.021 2.21.782 2.721 2.037 1.766 4.345 3.931 8.479 6.644 12.313.723 1.021 1.461 2.039 2.512 2.76 1.16.796 2.044.533 2.591-.762.35-.823.501-1.703.577-2.585.26-3.021.291-6.041-.159-9.05-.28-1.883-1.339-3.099-3.216-3.455-.956-.181-.816-.535-.351-1.081.807-.944 1.563-1.528 3.074-1.528l11.313-.002c1.783.35 2.183 1.15 2.425 2.946l.01 12.572c-.021.695.349 2.755 1.597 3.21 1 .33 1.66-.472 2.258-1.105 2.713-2.879 4.646-6.277 6.377-9.794.764-1.551 1.423-3.156 2.063-4.764.476-1.189 1.216-1.774 2.558-1.754l10.894.013c.321 0 .647.003.965.058 1.836.314 2.339 1.104 1.771 2.895-.894 2.814-2.631 5.158-4.329 7.508-1.82 2.516-3.761 4.944-5.563 7.471-1.656 2.31-1.525 3.473.531 5.479z'/%3E%3C/svg%3E");
  }
  .vacancy-bottom-social-item--inst {
    background-image: url("data:image/svg+xml,%3Csvg height='512pt' viewBox='0 0 512 512' width='512pt' xmlns='http://www.w3.org/2000/svg' fill='%239f85dc'%3E%3Cpath d='m305 256c0 27.0625-21.9375 49-49 49s-49-21.9375-49-49 21.9375-49 49-49 49 21.9375 49 49zm0 0'/%3E%3Cpath d='m370.59375 169.304688c-2.355469-6.382813-6.113281-12.160157-10.996094-16.902344-4.742187-4.882813-10.515625-8.640625-16.902344-10.996094-5.179687-2.011719-12.960937-4.40625-27.292968-5.058594-15.503906-.707031-20.152344-.859375-59.402344-.859375-39.253906 0-43.902344.148438-59.402344.855469-14.332031.65625-22.117187 3.050781-27.292968 5.0625-6.386719 2.355469-12.164063 6.113281-16.902344 10.996094-4.882813 4.742187-8.640625 10.515625-11 16.902344-2.011719 5.179687-4.40625 12.964843-5.058594 27.296874-.707031 15.5-.859375 20.148438-.859375 59.402344 0 39.25.152344 43.898438.859375 59.402344.652344 14.332031 3.046875 22.113281 5.058594 27.292969 2.359375 6.386719 6.113281 12.160156 10.996094 16.902343 4.742187 4.882813 10.515624 8.640626 16.902343 10.996094 5.179688 2.015625 12.964844 4.410156 27.296875 5.0625 15.5.707032 20.144532.855469 59.398438.855469 39.257812 0 43.90625-.148437 59.402344-.855469 14.332031-.652344 22.117187-3.046875 27.296874-5.0625 12.820313-4.945312 22.953126-15.078125 27.898438-27.898437 2.011719-5.179688 4.40625-12.960938 5.0625-27.292969.707031-15.503906.855469-20.152344.855469-59.402344 0-39.253906-.148438-43.902344-.855469-59.402344-.652344-14.332031-3.046875-22.117187-5.0625-27.296874zm-114.59375 162.179687c-41.691406 0-75.488281-33.792969-75.488281-75.484375s33.796875-75.484375 75.488281-75.484375c41.6875 0 75.484375 33.792969 75.484375 75.484375s-33.796875 75.484375-75.484375 75.484375zm78.46875-136.3125c-9.742188 0-17.640625-7.898437-17.640625-17.640625s7.898437-17.640625 17.640625-17.640625 17.640625 7.898437 17.640625 17.640625c-.003906 9.742188-7.898437 17.640625-17.640625 17.640625zm0 0'/%3E%3Cpath d='m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm146.113281 316.605469c-.710937 15.648437-3.199219 26.332031-6.832031 35.683593-7.636719 19.746094-23.246094 35.355469-42.992188 42.992188-9.347656 3.632812-20.035156 6.117188-35.679687 6.832031-15.675781.714844-20.683594.886719-60.605469.886719-39.925781 0-44.929687-.171875-60.609375-.886719-15.644531-.714843-26.332031-3.199219-35.679687-6.832031-9.8125-3.691406-18.695313-9.476562-26.039063-16.957031-7.476562-7.339844-13.261719-16.226563-16.953125-26.035157-3.632812-9.347656-6.121094-20.035156-6.832031-35.679687-.722656-15.679687-.890625-20.6875-.890625-60.609375s.167969-44.929688.886719-60.605469c.710937-15.648437 3.195312-26.332031 6.828125-35.683593 3.691406-9.808594 9.480468-18.695313 16.960937-26.035157 7.339844-7.480469 16.226563-13.265625 26.035157-16.957031 9.351562-3.632812 20.035156-6.117188 35.683593-6.832031 15.675781-.714844 20.683594-.886719 60.605469-.886719s44.929688.171875 60.605469.890625c15.648437.710937 26.332031 3.195313 35.683593 6.824219 9.808594 3.691406 18.695313 9.480468 26.039063 16.960937 7.476563 7.34375 13.265625 16.226563 16.953125 26.035157 3.636719 9.351562 6.121094 20.035156 6.835938 35.683593.714843 15.675781.882812 20.683594.882812 60.605469s-.167969 44.929688-.886719 60.605469zm0 0'/%3E%3C/svg%3E");
  }
  .vacancy-bottom-social-item--ok {
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 97.75 97.75' height='97.75' viewBox='0 0 97.75 97.75' width='97.75' xmlns='http://www.w3.org/2000/svg' fill='%239f85dc'%3E%3Cpath d='m48.921 40.507c4.667-.017 8.384-3.766 8.367-8.443-.017-4.679-3.742-8.402-8.411-8.406-4.708-.005-8.468 3.787-8.432 8.508.035 4.66 3.794 8.358 8.476 8.341z'/%3E%3Cpath d='m48.875 0c-26.993 0-48.875 21.883-48.875 48.875s21.882 48.875 48.875 48.875 48.875-21.883 48.875-48.875-21.882-48.875-48.875-48.875zm.07 14.863c9.52.026 17.161 7.813 17.112 17.438-.048 9.403-7.814 17.024-17.318 16.992-9.407-.032-17.122-7.831-17.066-17.253.053-9.525 7.772-17.203 17.272-17.177zm19.282 41.194c-2.105 2.161-4.639 3.725-7.453 4.816-2.66 1.031-5.575 1.55-8.461 1.896.437.474.642.707.914.979 3.916 3.937 7.851 7.854 11.754 11.802 1.33 1.346 1.607 3.014.875 4.577-.799 1.71-2.592 2.834-4.351 2.713-1.114-.077-1.983-.63-2.754-1.407-2.956-2.974-5.968-5.895-8.862-8.925-.845-.882-1.249-.714-1.994.052-2.973 3.062-5.995 6.075-9.034 9.072-1.365 1.346-2.989 1.59-4.573.82-1.683-.814-2.753-2.533-2.671-4.262.058-1.166.632-2.06 1.434-2.858 3.877-3.869 7.742-7.75 11.608-11.628.257-.257.495-.53.868-.93-5.273-.551-10.028-1.849-14.099-5.032-.506-.396-1.027-.778-1.487-1.222-1.783-1.711-1.962-3.672-.553-5.69 1.207-1.728 3.231-2.19 5.336-1.197.408.191.796.433 1.168.689 7.586 5.213 18.008 5.356 25.624.233.754-.576 1.561-1.05 2.496-1.289 1.816-.468 3.512.201 4.486 1.791 1.115 1.817 1.102 3.589-.271 5z'/%3E%3C/svg%3E");
  }
}
