$accent: #b69fec;
// FONTS
$base-text: #111;

// BP
$mobile-bp: 1000px;
body {
  margin: 0;
}
.year-page {
  font-family: $mainfamily;
  color: $base-text;
  font-weight: normal;
  line-height: 1.3;
  min-width: 750px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  * {
    margin: 0;
    box-sizing: border-box;
  }
  .btn--year {
    @extend .btn;
    text-decoration: none;
    background-color: $accent;
    color: #111;
    font-size: 19px;
    &:hover {
      color: #fff;
    }
  }
  .h2-year {
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    font-size: 24px;
    font-weight: normal;
    color: #272727;
    span {
      position: relative;
      z-index: 2;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 321px;
      height: 52px;
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/dest/year/h2_img.png');
    }
  }
  .year-simple-text {
    color: #272727;
    font-size: 16px;
    line-height: 24px;
    @media screen and (max-width: $mobile-bp) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .container--year {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 60px;
    @media screen and (max-width: $mobile-bp) {
      padding: 0 30px;
    }
  }
  .year-main-block {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/dest/year/year_bg1.jpg');
    background-color: #f1f3fa;
    height: 597px;
  }
  .year-main-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 0 0 265px;
    @media screen and (max-width: $mobile-bp) {
      padding: 42px 0 0 0;
    }
  }
  .year-main-img {
    display: block;
    margin-bottom: 48px;
  }
  .year-main-bg-text {
    position: relative;
    font-size: 24px;
    color: #111;
    margin-bottom: 40px;
    span {
      display: block;
      position: relative;
      z-index: 2;
      transform: rotate(4deg);
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 316px;
      height: 60px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/dest/year/title1.png');
    }
  }
  .year-main-h1 {
    font-size: 46px;
    font-weight: 900;
    color: $accent;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  .year-main-text {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .year-main-btn {
    text-transform: uppercase;
    padding: 16px 30px 14px 30px;
  }
  .year-main-pos-img {
    position: absolute;
    display: block;
    right: -220px;
    bottom: -117px;
    pointer-events: none;
  }
  .year-block1-h2 {
    margin-bottom: 66px;
  }
  .year-block1-content {
    padding: 60px 0 30px;
  }
  .year-block1-inner {
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width: $mobile-bp) {
      flex-direction: column;
    }
  }
  .year-block1-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 120px;
      &:last-child {
        margin-bottom: 30px;
      }
    }
    &:nth-child(1) {
      .year-block1-item-img {
        top: -10px;
        left: -18px;
      }
    }
    &:nth-child(2) {
      .year-block1-item-img {
        top: -32px;
        left: -2px;
      }
    }
    &:nth-child(3) {
      .year-block1-item-img {
        top: -40px;
        left: 18px;
      }
      .year-block1-item-circle {
        &::after {
          display: none;
        }
      }
    }
  }
  .year-block1-item-circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $accent;
    margin-bottom: 25px;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 120px;
      transform: translateY(-50%);
      width: 180px;
      height: 4px;
      background-repeat: repeat-x;
      background-image: radial-gradient(
        4px circle at 2px 2px,
        #d1b878 50%,
        transparent 51%
      );
      background-size: 8px 4px;
      @media screen and (max-width: $mobile-bp) {
        top: 240px;
        left: 50%;
        width: 50px;
        transform: translateX(-50%) rotate(90deg);
      }
    }
  }
  .year-block1-item-img {
    position: absolute;
    display: block;
    z-index: 1;
  }
  .year-block1-item-text {
    position: relative;
    text-align: center;
    color: #2b2b2b;
    font-size: 16px;
    line-height: 1;
    z-index: 2;
    @media screen and (max-width: $mobile-bp) {
      font-size: 24px;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
    .gold {
      font-weight: bold;
      color: #ae8960;
      text-decoration: underline;
    }
  }
  .year-block2 {
    padding: 35px 0 15px;
    background-color: #f3ede1;
  }
  .year-block2-title {
    text-align: center;
    @media screen and (max-width: $mobile-bp) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  .counter-block {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }
  .counter-block-item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  .year-counter-numbers {
    font-size: 46px;
    font-weight: 900;
    color: #ae8960;
    @media screen and (max-width: $mobile-bp) {
      font-size: 56px;
    }
  }
  .year-counter-text {
    color: #272727;
    font-size: 24px;
    line-height: 24px;
    @media screen and (max-width: $mobile-bp) {
      font-size: 34px;
    }
  }
  .year-block2-form {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    @media screen and (max-width: $mobile-bp) {
      flex-direction: column;
      align-items: center;
    }
  }
  .year-block2-form-input-wrapper {
    flex-grow: 1;
    margin-right: 24px;
    @media screen and (max-width: $mobile-bp) {
      margin-right: 0;
      margin-bottom: 30px;
    }
    &:first-child {
      max-width: 400px;
      @media screen and (max-width: $mobile-bp) {
        width: 100%;
        max-width: 400px;
      }
    }
    &:nth-child(2) {
      max-width: 250px;
      @media screen and (max-width: $mobile-bp) {
        width: 100%;
        max-width: 400px;
      }
    }
  }
  .year-block2-form-title {
    font-size: 16px;
    color: #111;
    @media screen and (max-width: $mobile-bp) {
      font-size: 24px;
    }
  }
  .year-block2-form-input {
    font-family: $mainfamily;
    display: block;
    width: 100%;
    border: solid 2px #f3dec6;
    background-color: #fff;
    padding: 14px 23px 11px;
    font-size: 16px;
    color: #111;
    &::placeholder {
      color: #959493;
    }
    &:focus {
      outline: none;
      border-color: rgba($color: #f3dec6, $alpha: 0.8);
    }
    @media screen and (max-width: $mobile-bp) {
      font-size: 20px;
    }
  }
  .year-block2--btn {
    height: 50px;
    font-size: 16px;
    padding: 0 26px;
    @media screen and (max-width: $mobile-bp) {
      font-size: 24px;
    }
  }
  .year-block2-link {
    font-size: 16px;
    color: #959493;
    text-decoration: underline;
    transition: opacity 0.2s ease-in;
    &:hover {
      opacity: 0.8;
    }
    @media screen and (max-width: $mobile-bp) {
      font-size: 24px;
    }
  }

  .year-block3 {
    padding: 40px 0 75px;
  }
  .year-block3-h2 {
    margin-bottom: 40px;
  }
  .year-block3-text {
    text-align: center;
    margin-bottom: 20px;
  }
  .year-block3-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    @media screen and (max-width: $mobile-bp) {
      flex-direction: column;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 75px;
      height: 3px;
      width: 100%;
      background-color: $accent;
      @media screen and (max-width: $mobile-bp) {
        display: none;
      }
    }
  }
  .year-block3-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 60px;
    }
  }
  .year-block3-item-title {
    position: relative;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 94px;
    text-transform: uppercase;
    @media screen and (max-width: $mobile-bp) {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 10px;
    }
    &::after {
      content: '';
      position: absolute;
      left: -70px;
      bottom: -56px;
      display: block;
      width: 35px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/dest/year/b3_img.png');
    }
  }
  .year-block3-item-text {
    font-size: 24px;
    text-transform: uppercase;
    color: #ae8960;
    font-weight: 300;
    text-align: center;
    @media screen and (max-width: $mobile-bp) {
      font-size: 30px;
    }
    strong {
      font-weight: bold;
    }
  }
  .year-block3-table {
    width: 100%;
    border-spacing: 0;
    tr {
      &:first-child {
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        background-image: url('../images/dest/year/table_bg.png');
      }
    }
    th {
      text-align: left;
      font-size: 24px;
      color: #ae8960;
      padding: 6px 4px;
    }
    td {
      font-size: 24px;
      color: #1a1a1a;
      padding: 6px 4px;
    }
  }
  .year-table-btn {
    @extend .btn;
    display: block;
    margin: 30px auto 0 auto;
    font-size: 16px;
    color: #292929;
    text-decoration: underline;
    @media screen and (max-width: $mobile-bp) {
      font-size: 24px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .year-block4 {
    height: 1449px;
    padding: 60px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f1f5fc;
    background-image: url('../images/dest/year/bg4.png');
    @media screen and (max-width: $mobile-bp) {
      padding: 30px 0 0 0;
    }
  }
  .year-block4-h2 {
    margin-bottom: 87px;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 18px;
    }
    &::after {
      background-image: url('../images/dest/year/b4title.png');
    }
  }
  .year-block4-inner {
    display: flex;
    flex-direction: column;
  }
  .year-block4-item-title {
    font-weight: 300;
    font-size: 24px;
    color: #272727;
    margin-bottom: 60px;
    @media screen and (max-width: $mobile-bp) {
      font-size: 30px;
      line-height: 1.1;
      margin-bottom: 20px;
    }
  }
  .year-block4-item-text {
    font-size: 16px;
    color: #111;
    @media screen and (max-width: $mobile-bp) {
      font-size: 24px;
    }
  }
  .year-block4-item--1 {
    max-width: 475px;
    align-self: flex-end;
    margin-bottom: 140px;
    @media screen and (max-width: $mobile-bp) {
      max-width: 375px;
      margin-bottom: 50px;
    }
  }
  .year-block4-item--2 {
    max-width: 475px;
    text-align: right;
    margin-bottom: 300px;
    @media screen and (max-width: $mobile-bp) {
      max-width: 375px;
      margin-bottom: 50px;
    }
    .year-block4-item-title {
      margin-bottom: 34px;
      @media screen and (max-width: $mobile-bp) {
        margin-bottom: 14px;
      }
    }
  }
  .year-block4-item--3 {
    max-width: 490px;
    align-self: flex-end;
    .year-block4-item-title {
      margin-bottom: 40px;
      @media screen and (max-width: $mobile-bp) {
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: $mobile-bp) {
      max-width: 375px;
    }
  }
  .year-block4-item-h2 {
    font-weight: bold;
    margin: 0 0 10px 0;
    &::after {
      background-image: url('../images/dest/year/b4title.png');
    }
  }
  .year-block4-item-btn--year {
    margin-top: 30px;
    padding: 12px 40px 10px 40px;
    @media screen and (max-width: $mobile-bp) {
      font-size: 24px;
    }
  }
  .year-block5 {
    padding: 44px 0 70px;
  }
  .year-block5-h2-year {
    margin-bottom: 12px;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 32px;
    }
  }
  .year-block5-title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #272727;
  }
  .year-block5--text {
    text-align: center;
    margin-bottom: 30px;
    a {
      color: inherit;
    }
  }
  .year-block5-inner {
    display: flex;
    flex-wrap: wrap;
  }
  .year-block5-col {
    max-width: calc((100% - 4px * 4) / 5);
    flex-basis: calc((100% - 4px * 4) / 5);
    margin-right: 4px;
    margin-bottom: 4px;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
  .year-block5-item {
    display: block;
    padding-top: 100%;
    background-color: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .year-block6 {
    padding: 10px 0 20px;
  }
  .year-block6-h2-year {
    margin-bottom: 16px;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 42px;
    }
    &::after {
      height: 58px;
      background-image: url('../images/dest/year/b5_title.png');
    }
  }
  .year-spoiler {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 40px;
    }
  }
  .year-spoiler-btn {
    @extend .btn;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: #272727;
    white-space: normal;
    @media screen and (max-width: $mobile-bp) {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
  .year-spoiler-text {
    font-weight: 300;
    text-align: center;
    display: none;
    a {
      color: #000;
      &:hover {
        color: rgba($color: #000000, $alpha: 0.8);
      }
    }
  }
}
